$utilities: map-merge(
  $utilities,
  (
    "top": (
      property: top,
      class: top,
      values: (
        0: 0,
        10: 10%,
        25: 25%,
        33: 33%,
        40: 40%,
        45: 45%,
        50: 50%,
        75: 75%,
        100: 100%,
      ),
    ),
    "start": (
      property: left,
      class: start,
      values: (
        0: 0,
        10: 10%,
        25: 25%,
        33: 33%,
        40: 40%,
        45: 45%,
        50: 50%,
        75: 75%,
        100: 100%,
      ),
    ),
  )
);
