$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      property: font-size,
      class: fs,
      values: (
        10: 10px,
        12: 12px,
        14: 14px,
        16: 16px,
        20: 20px,
        24: 24px,
        32: 32px,
        40: 40px,
      ),
    ),
    "top": (
      property: top,
      class: top,
      values: (
        0: 0,
        3: 3%,
        5: 5%,
        10: 10%,
        25: 25%,
        33: 33%,
        40: 40%,
        45: 45%,
        50: 50%,
        75: 75%,
        100: 100%,
      ),
    ),
    "bottom": (
      property: bottom,
      class: bottom,
      values: (
        0: 0,
        3: 3%,
        5: 5%,
        10: 10%,
        25: 25%,
        33: 33%,
        40: 40%,
        45: 45%,
        50: 50%,
        75: 75%,
        100: 100%,
      ),
    ),
    "start": (
      property: left,
      class: start,
      values: (
        0: 0,
        3: 3%,
        5: 5%,
        10: 10%,
        25: 25%,
        33: 33%,
        40: 40%,
        45: 45%,
        50: 50%,
        75: 75%,
        100: 100%,
      ),
    ),
    "viewport-height": (
      property: height,
      class: vh,
      values: (
        25: 25vh,
        50: 50vh,
        60: 60vh,
        75: 75vh,
        80: 80vh,
        90: 90vh,
        100: 100vh,
      ),
    ),
  )
);
$spacers: map-merge(
  $spacers,
  (
    6: 4rem,
    7: 5rem,
    8: 6rem,
  )
);
