$theme-colors: (
  "navy": #1c2333,
  "badge": #f7c59f,
  "darkBlue": #1f2937,
  "blurr-grey": #4b5563,
  "darkgrey": #374151,
  "peach": #de4f46,
  "textgrey": #6b7280,
  "lightgrey": #f9fafb,
);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

@import "custom";

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Euclid Circular A";
}

.form-control:focus {
  box-shadow: none;
}

.main-btn {
  color: white;
  padding: 0.3rem 2rem;
  border: 2px solid white;
  background-color: transparent;
}
.circle {
  height: 350px;
  width: 350px;
}

.glass-effect {
  background-color: #4b55633b;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.summer {
  background-image: url("./assets/images/summer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
